<!DOCTYPE html>
<html lang="en">

<head>

    {{>link}}
   </head>

<body>


    {{>navbar}}
    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left sight div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404 1.png" alt="rajendra" class="img-fluid" title="Rajendra Ruta">
                        </figure>
            
                        <p>Welcome to Rajendras world</p>
                        <h1>Oops page not found</h1>
                        <a href="/"> <button>Go back</button></a>
                    </div>
                    <!-- right sight div -->
                  

                </div>
            </div>
        </div>
    </div>
    <!-- footer part -->

    {{>footer}}
</body>

</html>