<!DOCTYPE html>
<html lang="en">

<head>

    {{>link}}
   </head>

<body>


    {{>navbar}}
    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left sight div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about1.png" alt="rajendra" class="img-fluid" title="Rajendra Ruta">
                        </figure>
                </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I AM A  <span class="text-col">frontend Devloper</span> Student And Web Devloper</h1>
                        <a href="https://rajendra-rauta.github.io/My-protofolio-website/" target="_blank"> <button>About me</button></a>
                    </div>
                    <!-- right sight div -->
                  

                </div>
            </div>
        </div>
    </div>
    <!-- footer part -->

    {{>footer}}
</body>

</html>